.container{
  display: flex;
  flex-direction: row;

  width: 100dvw;
  height: 100dvh;
  
  background-color: #fff;
}
.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.right h1{
  margin:48px 0;

  font-weight:bold;
  font-size:64px;
}

.right h2{
  margin-bottom: 32px;

  font-weight: bold;
  font-size: 31px;
}

.right h3{
  margin-bottom: 20px;
  margin-top: 40px;

  font-size: 17px;
  font-weight: bold;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 40px;

  padding: 0 16px;

  border: none;
  border-radius: 20px;

  color: white;
  background-color: rgb(29, 155, 240);

  font-size : 15px;
}

.signup:hover{
  background-color: rgb(29, 140, 216);
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 40px;
  padding: 0 16px;

  border: 1px solid rgb(207, 217, 222);
  border-radius: 20px;

  color: rgb(29, 155, 240);

  font-size: 15px;
}

.login:hover{
  background-color: rgba(29,155,240,0.1);
}